*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x left top;

}

#container{
	width: 750px;
	margin: 0 auto;

}

#topo{
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}

.logo{
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul{
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li{
	float: left;
	
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: white;
	background: url(../imagens/divisor.png) no-repeat left center;

}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover{
	color: #69001d;

}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.contato #navegacao a#contato,
body.fotos #navegacao a#fotos{
	color: #fff;
	background: #de003e;
	cursor: text;
}

#conteudo{
	margin-top: 60px;
	
}


#lateral{
	
	width: 180px;
	float: left;
	margin: 0 0 20px -750px; /*colocando ele pra
	esquerda*/
}

#primario{
	margin: 0 0 20px 195px; /*colocando no meio*/
	width: 270px;
	float: left;
}

#duas-colunas #primario{
	margin: 0 0 20px 195px; 
	width: 555px;
	float: left;
}

#uma-colunas #primario{
	margin: 0 auto; 
	width: 750px;
	float: left;

}

#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px; /*colocando para direita*/
	
}

#container-rodape{
	background: #294c71;
	padding: 20px;
}

#rodape{
	width: 750px;
	margin: 0 auto;
	color: white;
	
}

.caixa{
	margin: 10px 0;
	padding: 5px 0 5px 0;
 	background: #f3f3f3;
 }

.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px ;
}

h2{
	font-size: 1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

/*Menu lateral*/

#lateral ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;

	}

#lateral ul a:hover{
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	padding-left: 20px;
	color: #a1a1a1;
}


/* Formularios*/

label{
	display: block;
	cursor: pointer;
}

input{
	padding: 5px;
	width: 125px;
	font-size: 0.9;
	background: #fff;
}

input.submit{
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
	padding: 5px;
	margin-top: 5px;
}

img {

	border: 2px solid #dfdfdf;
}

img.imagem-principal{
	border: 3px solid #dfdfdf;
	width: 98%;
}

h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3{
	background: #b10333;
	color: #fff;
}


.entrevista h3{
	background: #de003e;
	
}

.titulo{

}


.form{width:340px;
	height:440px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;font-family:'Montserrat',sans-serif;
	position:relative
}

.titulo h2{
	margin:10px 0;
	padding-bottom:10px;
	width:180px;color:#78788c;
	border-bottom:3px solid #78788c
}

.form input{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;border-bottom:2px solid #bebed2
}
.form input:focus{
	border-bottom:2px solid #78788c
}

.form p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;color:#5a5a5a
}

.form button{
	float:right;padding:8px 12px;
	margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s
}

.form button:hover{
	background:#78788c;
	color:#fff
}

/*Lista mundo*/

#lista-noticias li{
	padding: 2px;
	border-bottom: 1px solid #ccc; /* coloca
	linha em baixo da noticia, tipo uma
	divisão*/
	height: 65px;
}

#lista-noticias li a img{
	float: left;
	margin: 5px;
}

#lista-noticias li a {
	text-decoration: none;
	
}

#lista-noticias li a h3 {
	padding: 0;
	font-size: 0.8em;
	color: #3e7ab9;
}

#lista-noticias li a p{
	
	font-size: 0.7em;
}

#lista-noticias li:hover{
	background: #eee;
	cursor: pointer;
}
